@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0a09;
  --foreground: #f5f5f4;
}

.hide-scrollbar {
  overflow: -moz-scrollbars-none; /* Firefox */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
